/*
  Inspiration: https://www.youtube.com/watch?v=R8vx9cI9yTY
*/

.debugger {
  position: fixed;
  top: 1vw;
  left: 1vw;
  z-index: 999;
  padding: 2vw;
  font-family: monospace;
  font-size: 16px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 0.5vw;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.deck {
  width: 60vw;
  padding: 32px 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  margin: 64px 0;
}

.card .media img {
  max-width: 100%;
}

.card .top {
  display: flex;
  border: 1px solid salmon;
  align-items: center;
  align-content: center;
  justify-items: space-between;
  width: 100%;
}

.card .actions {
  border: 1px solid saddlebrown;
  display: flex;
  align-self: flex-end;
  align-items: center;
  align-content: center;
  margin-bottom: 12px;
}

.card .actions > * {
  margin-right: 12px;
}

.card .actions form button {
  cursor: pointer;
  border: 0;
  background: transparent;
}
.card .actions form button svg {
  width: 18px;
  height: 18px;
}
