html,
body {
  width: 100%;
  height: 100%;
}

body * {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.debugger {
  position: fixed;
  top: 1vw;
  left: 1vw;
  z-index: 999;
  padding: 2vw;
  font-family: monospace;
  font-size: 16px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 0.5vw;
}

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  background: white;
}

.header .logo {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 8px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.deck {
  width: 60vw;
  padding: 32px 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  margin: 64px 0;
}

.card .card-header {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-items: space-between;
}

.card .card-header .time {
  display: flex;
  width: 100%;
  font-size: 24px;
}

.card .actions {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 1vh 0;
}

.card .actions > * {
  margin-right: 12px;
}

.card .actions button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: 0;
  background: transparent;
  text-align: center;
}

.card .actions button svg {
  display: flex;
  align-self: center;
  width: 18px;
  height: 18px;
}

.card .media img {
  max-width: 100%;
}
